(defproject {{ project_name }} "0.1.0-SNAPSHOT"
{%- if project_description %}
  :description {{ project_description | to_json(ensure_ascii=False) }}
{%- endif %}
  :license {:name "BSD-2-Clause Plus Patent License"
            :url "https://spdx.org/licenses/BSD-2-Clause-Patent.html"}
  :plugins [[lein-kibit "0.1.8"]
            [jonase/eastwood "1.3.0"]
            [com.fabiodomingues/lein-clj-depend "0.3.0"]]
  :dependencies [[org.clojure/clojure "1.11.1"]]
  :repl-options {:init-ns default.core}
  :main ^:skip-aot {{ project_name }}.core
  :target-path "target/%s"
  :profiles {:uberjar {:aot :all
                       :jvm-opts ["-Dclojure.compiler.direct-linking=true"]}})
